body {
    background-color: black;
    color: whitesmoke;
    font-family: Roboto Mono, monospace;
}
a
{
    color: #43737e;
    text-decoration: none;
}

/* Nav Bar  */
nav ul
{
    display: flex;
    list-style: none;
    justify-content: end;

}


nav ul li
{
    padding: 30px;

}

nav ul a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    
}

nav ul li a:hover
{
    color: #43737e;
}

nav .active{
    color: #43737e;
}

/* End of Nav Bar */



/* Brief story about me */
.container1
{
    position: relative;
    margin-left: 5%;
    margin-top: 2%;
    border-left: 2px solid whitesmoke;
    padding: 40px;
    border-left-color: #43737e;
    border-bottom: 2px solid #43737e;
    display: flex;
    width: 100;
   
}




.col2
{
    width: 50%;
}

.col2 img
{
    width: 30%;
    margin-left: 25%;

}






.col1
{
    width: 50%;

}

.col1 h3
{
    color: blanchedalmond;
    font-size: 50px;

}

.col1 span
{
    color: yellow;
}



/* Skills */

.progress
{
    margin-top: 5%;
    padding: 10px;
    height: 50%;
}
.html
{
    width: 50%;
    height: 5%;
    background-color: black;
    border: 2px solid #43737e;
    border-radius: 15px;

}
.html1
{
    width: 90%;
    height: 75%;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 15px;
}

.css
{
    width: 50%;
    height: 5%;
    background-color: black;
    border: 2px solid #43737e;
    border-radius: 15px;

}
.css1
{
    width: 80%;
    height: 70%;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 15px;
}


.javs
{
    width: 50%;
    height: 5%;
    background-color: black;
    border: 2px solid #43737e;
    border-radius: 15px;

}
.javs1
{
    width: 70%;
    height: 70%;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 15px;
}

.php
{
    width: 50%;
    height: 5%;
    background-color: black;
    border: 2px solid #43737e;
    border-radius: 15px;

}
.php1
{
    width: 60%;
    height: 70%;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 15px;
}







/* End of  Brief story about me */


/* Experience */
.container2
{
    display: flex;
    flex-direction: row;
}

.row1{
    margin-left: 5%;

}




.row1 h3
{
    color: blanchedalmond;
    font-size: 50px;


}

.row1 h3:hover
{
    /* transition: transform y(-10); */

}

.row1 span
{
    color: yellow;
}



.exps
{
    border-left: 2px solid #43737e;
    margin-top: 10px;
}

.expsinfo
{
    display: none;

}

.expsinfo h4{
    color: #5dd0b8;
    font-size: 20px;
}

.expsinfo h5{
    font-size: 17px;
    color: yellow;
}


.row1 .exps button{
    padding: 10px;
    background-color: transparent;
    color: whitesmoke;
    /* border-left: 2px solid #43737e; */
    border-radius: 2px;
    border: none;
    margin-bottom: 20px;
    font-family: Roboto Mono, monospace;
    font-size: 20px;
}

.row1 .exps button:hover{
    border-left: 2px solid #5dd0b8;
    color: #5dd0b8;
    background-color: #0a192f;
}


.row2
{
    margin-top: 15%;
}



/* End of experience */




/* Education */
/* s */
.container3 .row3{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.container3 h3
{
    color: blanchedalmond;
    font-size: 50px;
    margin-left: 5%;
}


.container3 h3 span
{
    color: yellow;
    
}

.row3 .col1{
    border-left: 2px solid #43737e;
}

.row3 .col1 button{
    padding: 10px;
    background-color: transparent;
    color: whitesmoke;
    border-radius: 2px;
    border: none;
    margin-bottom: 20px;
    font-family: Roboto Mono, monospace;
    font-size: 20px;
}

.row3 .col1 button:hover{
    border-left: 2px solid #5dd0b8;
    color: #5dd0b8;
    background-color: #0a192f;
}



.row3 .col2 h4{
    color: #43737e;
    font-size: 20px;


}

.row3 .col2 i
{
    color: yellow;
    font-size: 17px;

}
.school
{
    display: none;
}



/* End of Education */

