body {
    background-color: black;
    color: whitesmoke;
    font-family: Roboto Mono, monospace;
}
nav img{
    display: none;
}
nav ul
{
    display: flex;
    list-style: none;
    justify-content: end;

}


nav ul li
{
    padding: 30px;

}

nav ul a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    
}

nav ul li a:hover
{
    color: #43737e;
}

nav .active{
    color: #43737e;
}



/* Row 1 */
.row1 h3
{
    text-align: center;
    color: blanchedalmond;
    font-size: 50px;
}

.row1 span
{
    color: yellow;
}

/* End of Row 1 */



/* Form  */

.cform
{

    margin-left: 25%;
}



form label
{
    font-size: 25px;
    color: whitesmoke;
    margin-top: 10px;


}

form label:hover
{
    color: #5dd0b8;
    transition: 1s;
}

input
{
    padding: 10px 40% 10px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #43737e;
    border-left: 2px solid #43737e;

    border-right: 2px solid #43737e;


    border-radius: 5px;
    color: whitesmoke;
    font-family: Roboto mono, monospace;
}

input:hover
{
    border: 2px solid #5dd0b8;
    box-shadow: 0px 0px 5px whitesmoke;
    transition: 1s;
    transform: translateY(-10px);

}
input:focus
{
    outline: none;
}





#sendbtn
{
    margin-left: 25%;
    margin-top: 5%;
    padding:8px 30px 8px 30px;
    font-family: Roboto mono, monospace;
    background-color: transparent;
    border: 2px solid #43737e;
    border-radius: 5px;
    color: whitesmoke;


}

#sendbtn:hover
{
    border: 2px solid #5dd0b8;
    box-shadow: 0px 0px 5px whitesmoke;
    transition: 1s;
    transform: translateY(-10px);

}





@media only screen and (min-width: 250px) and (max-width: 770px){
    body
    {
        overflow-x: hidden;
    }
    nav img{
        width: 8%;
        display: block;
        margin-left: auto;
        
    }
    
    nav ul
    {
        display: none;
        flex-direction: column;
    }
    
    }