body {
    background-color: black;
    color: whitesmoke;
    font-family: Roboto Mono, monospace;
}
nav ul
{
    display: flex;
    list-style: none;
    justify-content: end;

}


nav ul li
{
    padding: 30px;

}

nav ul a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    
}

nav ul li a:hover
{
    color: #43737e;
}

nav .active{
    color: #43737e;
}



/*  */
.container1
{
    margin-left: 5%;
    margin-top: 5%;
}

.row1
{
    padding: 20px;

    border-left: 2px solid #43737e;
    border-bottom: 2px solid #43737e;
}


.row1 h3
{
    color: blanchedalmond;
    font-size: 50px;

}

.row1 h3 span
{
    color: yellow;
}

.row1 p 
{
    font-size: 17px;
}


.row1 p span 
{
    color: yellow;
}

/*  */