body {
    background-color: black;
    color: whitesmoke;
    font-family: Roboto Mono, monospace;
}
nav ul
{
    display: flex;
    list-style: none;
    justify-content: end;

}


nav ul li
{
    padding: 30px;

}

nav ul a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    
}

nav ul li a:hover
{
    color: #43737e;
}

nav .active{
    color: #43737e;
}



/*  */
.container1
{
    margin-left: 5%;
    margin-top: 5%;
}

.row1
{
    padding: 20px;

    border-left: 2px solid #43737e;
    border-bottom: 2px solid #43737e;
}


.row1 h3
{
    color: blanchedalmond;
    font-size: 50px;

}



.row1 h3 span
{
    color: yellow;
}

.row1 p 
{
    font-size: 17px;
}


.row1 p span 
{
    color: yellow;
}


/* Hire Me */
.card1
{
    display: flex;
    flex-direction: row;
}

.card1 .col1{
    margin-top: 10%;
    width: 50%;
}


.card1 .col1 img{
    width: 80%;
    border: 5px solid black;
    opacity: 20%;

}

.card1 .col1 img:hover{
    opacity: 80%;
    transition: 2s;
    transform: translateY(-20px);




}

.col2 h4:hover
{
    color: #5dd0b8;
    transition: 1s;
    transform: translateY(-5px);
}


.card1 .col2
{
    margin-top: 10%;
}

.card1 .col2 h4 {
    font-size: 30px;
}

.col2 li:hover
{
    color: #5dd0b8;
    transition: 1s;
}



.row2 .card1 .col2 a
{
    padding: 10px;
    background-color: transparent;
    color: whitesmoke;
    font-family: Roboto Mono, monospace;
    border: 2px solid #43737e;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-decoration: none;

}


.row2 .card1 .col2 a:hover
{
    box-shadow: 0px 0px 5px whitesmoke;
    border: 2px solid #5dd0b8;
    transition: 1s;
    transform: translateY(-10px);

    
}



/* Card2:Tripple G insurance  */

.card2
{
    display: flex;
    flex-direction: row;
}


.card2 .col1{
    margin-top: 10%;
    width: 50%;
}


.card2 .col1 img{
    width: 80%;
    border: 5px solid black;
    opacity: 20%;

}

.card2 .col1 img:hover{
    opacity: 100%;
    transition: 2s;
    transform: translateY(-20px);




}

.col2 h4:hover
{
    color: #5dd0b8;
    transition: 1s;
    transform: translateY(-5px);
}


.card2 .col2
{
    margin-top: 10%;
}

.card2 .col2 h4 {
    font-size: 30px;
}

.col2 li:hover
{
    color: #5dd0b8;
    transition: 1s;
}



.card2 .col2 a
{
    padding: 10px;
    background-color: transparent;
    color: whitesmoke;
    font-family: Roboto Mono, monospace;
    border: 2px solid #43737e;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    text-decoration: none;
}


.card2 .col2 a:hover
{
    box-shadow: 0px 0px 5px whitesmoke;
    border: 2px solid #5dd0b8;
    transition: 1s;
    transform: translateY(-10px);

    
}




/* End of card 2 */





/* Card 3 : */

.card3
{
    display: flex;
    flex-direction: row;
}


.card3 .col1{
    margin-top: 10%;
    width: 50%;
}


.card3 .col1 img{
    width: 80%;
    border: 5px solid black;
    opacity: 20%;

}

.card3 .col1 img:hover{
    opacity: 100%;
    transition: 2s;
    transform: translateY(-20px);




}

.col3 h4:hover
{
    color: #5dd0b8;
    transition: 1s;
    transform: translateY(-5px);
}


.card3 .col2
{
    margin-top: 10%;
}

.card3 .col2 h4 {
    font-size: 30px;
}

.col2 ul{
    margin-bottom: 8%;
}

.col2 li:hover
{
    color: #5dd0b8;
    transition: 1s;
}



.card3 .col2 a
{
    padding: 10px;
    background-color: transparent;
    color: whitesmoke;
    font-family: Roboto Mono, monospace;
    border: 2px solid #43737e;
    border-radius: 5px;
    margin-right: 5px;
    text-decoration: none;
}


.card3 .col2 a:hover
{
    box-shadow: 0px 0px 5px whitesmoke;
    border: 2px solid #5dd0b8;
    transition: 1s;
    transform: translateY(-10px);

    
}



/* End of card3 */