
body {
    background-color: black;
    color: whitesmoke;
    font-family: Roboto Mono, monospace;
    /* background-image: url("../images/fallingstar.jpg");
    background-size: cover; */
}
nav ul
{
    display: flex;
    list-style: none;
    justify-content: end;

}


nav ul li
{
    padding: 30px;

}

nav ul a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    
}

nav ul li a:hover
{
    color: #43737e;
}

nav .active{
    color: #43737e;
}



.container1
{
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    border-left: 2px solid whitesmoke;
    padding: 40px;
    border-left-color: #43737e;
   
}
.prof
{
    display: flex;
}

#jp 
{
    width: 20%;

}

#vbtn
{
    padding: 15px;
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid #43737e;
    border-radius: 5px;
    font-family: Roboto Mono, monospace;
    margin-top: 25px;
}
#vbtn:hover
{
    box-shadow: 0px 0px 5px whitesmoke;
}


.socials a{
    text-decoration: none;
}
.socials img
{
    width: 27px;
}

.vline
{
    border: 0.5px solid whitesmoke;
    width: 1px;
    height: 100px;
}


footer{
    margin-top: 7%;
    margin-left: 5%;
}

