html body
{
    overflow-x: hidden;
}
body {
    background-color: black;
    color: whitesmoke;
    font-family: Roboto Mono, monospace;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("../images/wp96.jpg");
   
    background-size: cover;
    
}
nav{
    width: 100%;
}
nav ul
{
    display: flex;
    list-style: none;
    justify-content: end;
    margin-left: 20%;

}


nav ul li
{
    padding: 30px;

}

nav ul a
{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    
}

nav ul li a:hover
{
    color: #43737e;
}

nav .active{
    color: #43737e;
}

nav img{
    width: 10%;
    display: none;
}


.container1
{
    position: relative;
    margin-left: 5%;
    margin-top: 5%;
    border-left: 2px solid whitesmoke;
    padding: 40px;
    border-left-color: #43737e;
   
}
.prof
{
    display: flex;
}

#jp 
{
    width: 20%;

}

#vbtn
{
    padding: 15px;
    color: whitesmoke;
    background-color: transparent;
    border: 2px solid #43737e;
    border-radius: 5px;
    font-family: Roboto Mono, monospace;
    margin-top: 25px;
}
#vbtn:hover
{
    box-shadow: 0px 0px 5px whitesmoke;
}


.socials a{
    text-decoration: none;
}
.socials img
{
    width: 27px;
}

.vline
{
    border: 0.5px solid whitesmoke;
    width: 1px;
    height: 100px;
}


footer{
    margin-top: 7%;
    margin-left: 5%;
}


@media only screen and (min-width: 250px) and (max-width: 770px){
body
{
    overflow-x: hidden;
}
nav img{
    width: 8%;
    display: block;
    margin-left: auto;
    
}

nav ul
{
    display: none;
    flex-direction: column;
}

}

